  .logo img {
    max-width: 200px;
    height: auto;
  }
  .already-have-account a {
    color: #d76348;
    text-decoration: none;
  }
  .already-have-account a:hover {
    text-decoration: underline;
    color: #c14e37 !important;
  
  }
  .btn-danger {
    background-color: #d76348 !important;
   
  }
  .btn-danger:hover {
    background-color: #c14e37 !important;
  }

  .form-group{
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
  }
  .nav-link {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
}



